
@{
    ViewBag.Title = "Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/Sapabg.jpg);">
        <div class="desc animate-box">
            <h2>Địa Điểm nổi bật</h2>
            <span><a class="btn btn-primary btn-lg" href="#">Bắt đầu ngay</a></span>
        </div>
    </div>

</div>


<div class="fh5co-listing">
    <div class="container">
        <div class="row">
            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/cat-ba.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Cát Bà</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/Phu-Quoc.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Phú Quốc</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/Sapa.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Sapa</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <!-- END 3 row -->

            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/Ha-Giang.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Hà Giang</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/Ha-Long.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Hạ Long</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/HCM.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Hồ Chí Minh City</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <!-- END 3 row -->

            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/cat-ba.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Cát Bà</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/Phu-Quoc.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Phú Quốc</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/Sapa.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Sapa</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <!-- END 3 row -->

            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/Ha-Long.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Hạ Long</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/HCM.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Hồ Chí Minh City</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 fh5co-item-wrap">
                <a class="fh5co-listing-item">
                    <img src="images/Ha-Giang.jpg" alt="" class="img-responsive">
                    <div class="fh5co-listing-copy">
                        <h2>Hà Giang</h2>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            <!-- END 3 row -->

        </div>
    </div>
</div>

